@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul,ol {
    list-style:none;
    margin:0 !important; 
    padding:0 !important;
}
a{
    text-decoration:none !important; 
    display:inline-block;
}
.clr{
    clear:both;
}
h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
}

.common_detail{
    font-size: 18px;
    font-weight:400;
    font-family: "Inter", sans-serif;
    color:#fff;
    line-height:32px;
}
.common_bton{
    font-size:18px;
    font-weight:500;
    font-family:"Poppins", sans-serif;
    color:#fff;
    padding:14px 28px;
    background-color:#FD5F36;
    border-radius:5px;
}
/* ===================================
        COMMON CSS END
======================================= */
/* ===================================
        NAV PART CSS START
======================================= */
#navbar{
    padding:30px 0;
    position:absolute;
    width:100%;
    left:0;
    top:0;
    z-index:999;
}
#navbar ul{
   gap:38px;
}
#navbar ul li a{
    font-size:18px;
    font-weight:600;
    color:#fff;
    font-family: "Open Sans", sans-serif;
}
.nav_contact .login{
    font-size:20px;
    font-weight:600;
    font-family: "Poppins", sans-serif;
    color:#fff;
}
.nav_contact .consultation{
    padding:14px 28px;
    background-color:#fff;
    font-size: 18px;
    font-weight:500;
    color:#30344E;
    font-family:"Poppins", sans-serif;
    border-radius:5px;
    margin-left:36px;
}
/* ===================================
        NAV PART CSS END
======================================= */
/* ===================================
        BANNER PART CSS START
======================================= */
#banner{
    padding-top:186px;
    position: relative;
    overflow:hidden;
}
.banner_col{
    padding-right:0 !important;
}
.banner_detail{
    position: relative;
}
.banner_detail h1{
    font-size:60px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#fff;
    line-height:74px;
    width:644px;
}
.b_arow{
    position:absolute;
    left:360px;
    bottom:360px;
}
.banner_detail p{
    margin:24px 0 40px;
}
.banner_signin {
    font-size:20px;
    font-weight:400;
    font-family:"Inter", sans-serif;
    color:#fff;
    line-height:30px;
    margin: 50px 0 70px;
}
.banner_signin a{
    font-size:20px;
    font-weight:700;
    font-family:"Inter", sans-serif;
    color:#52C5B6;
    line-height:30px;
}
.banner_wrap{
    display:flex;
    gap: 134px;
    justify-content: end;
}
.banner_review{
    display: flex;
    gap: 127px;
}
.banner_review_img{
  display:flex;
  position: relative;
}
.b_img_2{
    position: absolute;
    left: 35px;
}
.b_img_3{
    position:absolute;
    left:70px;
}
.b_img_4{
    position:absolute;
    left:105px;
}
.banner_review_num h3{
    font-size:26px;
    font-weight:700;
    font-family:"Inter", sans-serif;
    color:#52C5B6;
    position: relative;
}
.banner_review h3::after{
   content:'';
   height:20px;
   width:3px;
   position:absolute;
   left:60px;
   bottom:4px;
   background-color: #4D516F;
   border-radius: 5px;
}
.banner_review_num span:first-child{
    margin-left: 30px;
}
.banner_review_num span{
    color:#FDB400;
}
.banner_review_num p{
    margin:0;
    font-size: 18px;
    font-weight:500;
    font-family:"Inter", sans-serif;
    color: #fff;
    width: 160px;
    /* padding-bottom: 92px; */
}
.banner_play{
    background-color:#373B59;
    height:220px;
    width:220px;
    display:flex;
    justify-content: center;
    align-items:center;
    border-top-left-radius:16px;
}
.banner_play .play{
    background-color:#fff;
    height:45px;
    width:45px;
    border-radius:50%;
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
}
.banner_play .play::after{
    content:'';
    left: 50%;
    top: 50%;
    transform:  translate(-50%,-50%) scale(1);
    height: 40px;
    width:40px;
    background-color: rgba(253, 253, 253, 0.20);
    border-radius:50%;
    position:absolute;
    animation: play 2s linear infinite;
}
@keyframes play {
    from{
        transform:  translate(-50%,-50%) scale(1);
  }
  to{
        transform:  translate(-50%,-50%) scale(5);
  }
}
.banner_col_right{
    position:relative;
}
.banner_img{
    position:absolute;
    width:700px;
    height:100%;
    bottom:0;
    left:40px;
}
.banner_circle{
    width:120px;
    height:120px;
    border:2px solid #fff;
    border-radius:50%;
    position:absolute;
    right:-60px;
    bottom:9px;
    animation:circle 2s linear infinite;
}
@keyframes circle {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.banner_circle .circle{
    height: 25px;
    width:25px;
    background-color:#fff;
    border-radius:50%;
    position:absolute;
    top:50%;
    left: -12px;
    transform:translateY(-50%)
}
/* ===================================
        BANNER PART CSS END
======================================= */
/* ===================================
        ABOUT US CSS START
======================================= */
#about_us{
    padding:130px 0;
}
.about_us_details{
    display:flex;
    flex-direction:column;
    justify-content: center;
    height:100%;
    padding-left:70px;
}
.about_us_details h4{
    font-size:20px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#FD5F36;
}
.about_us_details h2{
    font-size:48px;
    font-weight:600;
    color:#30344E;
    font-family:"Poppins", sans-serif;
    width: 584px;
    line-height:62px;
    margin:8px 0 20px;
}
.about_us_details > p{
    color:#5B5F77;
    width:566px;
    line-height:32px;
    margin-bottom:26px;
}

.about_us_details ul li {
    display:flex;
    gap:12px;
    align-items: center;
}
.about_us_details ul li span{
    background-color:rgba(82, 197, 182, 0.305);
    height:24px;
    width:24px;
    border-radius:50%;
    text-align:center;
    line-height:24px;
    margin-bottom: 1rem;
}
.about_us_details ul li p{
    color:#30344E;
}
.about_us_button{
    margin-top:40px;
}
/* ===================================
        ABOUT US CSS END
======================================= */
/* ===================================
        services CSS START
======================================= */
#services{
    padding:120px 0;
    background-color:#FAFAFA;
}
.services_heading h4{
   font-size:20px;
   font-weight:600;
   font-family:"Poppins", sans-serif;
   color:#FD5F36;
}
.services_heading h2{
    font-size:48px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#30344E;
    width:415px;
 }
#services .services_para {
    color:#5B5F77;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
 }
 .services_slider{
    display: flex;
    gap:27px;
    margin-top: 50px;
 }
 .services_wrap{
    width:25%;
    border-radius:5px;
    padding-bottom:11px;
 }
.services_wrap:nth-child(1):hover{
    background-color:#F44C4C;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.services_wrap:nth-child(2):hover{
    background-color:#52C5B6;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.services_wrap:nth-child(3):hover{
    background-color:#2BCCFF;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.services_wrap:nth-child(4):hover{
    background-color:#5D5FEF;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.services_slider_item{
    padding:40px 0 24px;
    background-color:#fff;
    border-radius: 5px;
}
.services_logo{
    width:83px;
    position: relative;
}
.services_border{
    height:110px;
    width:110px;
    border:2px solid #2BCCFF;
    position:absolute;
    left:-16%;
    top:-15%;
    border-radius:50%;
    animation: border 1s linear infinite;
}
@keyframes border {
    from{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(360deg)
    }
}
.services_wrap:nth-child(1) .services_border {
    border:2px solid #F44C4C;
}
.services_wrap:nth-child(2) .services_border {
    border:2px solid #52C5B6;
}
.services_wrap:nth-child(4) .services_border {
    border:2px solid #5D5FEF;
}
.services_circel{
    height:13px;
    width:13px;
    background-color:#2BCCFF;
    border-radius:50%;
    position:absolute;
    top:50%;
    left:-7px;
}
.services_wrap:nth-child(1) .services_circel{
    background-color:#F44C4C;
}
.services_wrap:nth-child(2) .services_circel{
    background-color:#52C5B6;
}
.services_wrap:nth-child(4) .services_circel{
    background-color:#5D5FEF;
}
.services_detail h2{
    font-size: 20px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#30344E;
    margin:30px auto 14px;
    width:261px;
    text-align:center;
}

.services_wrap:nth-child(3) h2{
    width:200px;
}
.services_detail p{
    font-size: 16px;
    font-weight: 400;
    font-family:"Inter", sans-serif;
    color:#5B5F77;
    text-align: center;
    width:280px;
    margin:auto;
 }
/* ===================================
        services CSS END
======================================= */
/* ===================================
        SOLUTION CSS START
======================================= */
#solution{
    padding:160px 0;
}
.solution_heading h2{
    font-size:48px;
    font-weight:600px;
    color:#30344E;
    font-family:"Poppins", sans-serif;
    line-height:62px;
    width: 530px;
}
.solution_heading p {
    font-size:18px;
    font-weight:400;
    color:#5B5F77;
    font-family:"Inter", sans-serif;
    line-height:32px;
    width:500px;
    margin:20px 0 40px;
}
.solution_details{
    display:flex;
    gap:80px;
    margin-top:70px;
}
.solution_marketing{
    width:260px;
}
.solution_marketing h3{
    font-size:24px;
    font-weight:600;
    color:#30344E;
    font-family:"Poppins", sans-serif;
    width:258px;
}
.solution_marketing p{
    font-size:18px;
    font-weight:400;
    font-family:"Inter", sans-serif;
    color:#5B5F77;
    width:276px;
    line-height:32px;
    margin-top: 12px;
}
.solution_img{
    height:100%;
    position:relative;
}
.solution_experience{
    display:flex;
    background-color:#52C5B6;
    padding:0 100px 0 25px;
    height:110px;
    justify-content: center;
    align-items: center;
    width:fit-content;
    position:absolute;
    right:160px;
    bottom: 0;
}
.solution_experience h4{
    font-size:70px;
    font-weight:700;
    color:#fff;
    font-family:"Poppins", sans-serif;
    margin-right: 12px;
}
.solution_experience p{
    font-size:24px;
    font-weight:600; 
    color:#fff;
    font-family:"Poppins", sans-serif;
    line-height:34px;
    width:130px;
    position:relative;
}
.solution_experience p::after{
    content:'';
    height:3px;
    width:120px;
    background-color:#fff;
    position:absolute;
    top:16px;
    right:-75px;
}
/* ===================================
        SOLUTION CSS END
======================================= */
/* ===================================
        TEAM CSS START
======================================= */
#team{
    padding-top:80px;
   
}
.team_row{
    position: relative;
    bottom: -150px;
    margin-top: -100px !important;
    margin-bottom: 110px;   
}
.team_heading{
    margin:0 auto;
    width:fit-content;
}
.team_heading h3{
    font-size:20px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#FD5F36;
    margin:auto;
    width:fit-content;
}
.team_heading h2{
    font-size:48px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#fff;
    margin:8px 0 0;
}
.team_items{
    position: relative;
}
.team_img img{
    border-radius: 5px;
    overflow: hidden;
}
.team_details{
    background-color:#fff;
    padding:10px 48px ;
    margin:50px auto 0;
    width: fit-content;
    border-top-right-radius: 10px;
    position: absolute;
    left: 0;
    bottom: -20px;
}
.team_details:hover{
    background-color: #52C5B6;
}
.team_details:hover h3{
    color: #fff;
}
.team_details:hover h3::after{
    background-color: #fff;
} 
.team_details:hover p{
    color: #fff;
}

.team_details h3{
    font-size:18px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#30344E;
    position:relative;
}
.team_details h3::after{
    content: '';
    height:2px;
    width:32px;
    position:absolute;
    background-color: #52C5B6;
    left: -38px;
    top:10px;
}
.team_details p{
    font-size:14px;
    font-weight:400;
    font-family:"Inter", sans-serif;
    color:#5B5F77;
}
.team_social{
    position: absolute;
    right:27px;
    bottom:20px;
    height:44px;
    width:44px;
    border-radius:50%;
    text-align: center;
    line-height: 44px;
    cursor: pointer;
    z-index: 1;
}
.team_social span{
    height:44px;
    width:44px;
    background-color: #fff;
    color:#5B5F77;
    border-radius:50%;
    display: inline-block;
    transition:.3s;
}
.team_social span:hover{
   background-color: #52C5B6;
   transform: rotate(45deg);
   color:#fff;
}

.twitter,
.linkedin,
.pintarest{
    height:44px;
    width:44px;
    background-color:#fff;
    color:#5B5F77;
    border-radius:50%;
    cursor:pointer;
    z-index:-1;
    text-align:center;
    line-height:44px;
    position:absolute;
    right:0;
    bottom:0;
    transition:.3s;
}
.team_social:hover .twitter{
    bottom: 60px;
}
.team_social:hover .linkedin{
    bottom: 120px;
}
.team_social:hover .pintarest{
    bottom: 180px;
}
/* ===================================
        TEAM CSS END
======================================= */
/* ===================================
        STARTUP CSS START
======================================= */
#startup{
    padding:110px 0 140px;
}
.startup_img{
    margin-right: 35px;
}
.startup_details{
    padding-top: 120px;
    margin-bottom: 46px;
}
.startup_details h2{
    font-size:48px;
    font-weight:600;
    color:#30344E;
    font-family:"Poppins", sans-serif;
}

.startup_accrodion .accordion-button:focus{
    box-shadow: none;
}
.startup_accrodion .accordion-button{
    background-color: #ffff;
    font-size: 20px;
    color: #5B5F77;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    border: 1px solid #D6D8E8;
    border-radius: 5px;
}
.startup_accrodion .accordion-button::after{
    display: none;
}
.startup_accrodion .accordion-button span{
    margin-left: auto;
    transition: .3s;
}
.startup_accrodion .accordion-button:not(.collapsed) span{
    transform: rotate(45deg);
}
.startup_accrodion .accordion-button:not(.collapsed){
    background-color: #52C5B6;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.startup_accrodion .accordion-item{
    border: none;
    margin-bottom: 15px;
}
.accordion-collapse.show{
    border: 1px solid #52C5B6;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.accordion-body{
    width:500px;
    margin-right: 30px;
}
/* ===================================
        STARTUP CSS END
======================================= */
/* ===================================
        TRUST PART CSS START
======================================= */
#trust{
   padding: 110px 0;
}
.trust_details h2{
    font-size:38px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#fff;
    margin-bottom: 40px;
    width:511px;
}
.trust_counter{
    display: flex;
    gap:84px;
}
.counter_items h3{
    font-size:60px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color:#fff;
}
.counter_items p{
    font-size:20px;
    font-weight:400;
    font-family:"Inter", sans-serif;
    color:#ffffffaf;
    width:159px;
}
.trust_logo{
    display:flex ;
    gap:72px;
    margin-top: 52px;
}

/* ===================================
        TRUST PART CSS END
======================================= */
/* ===================================
        REVIEW PART CSS START
======================================= */
#review{
    padding:120px 0;
    background-color:#FAFAFA;
}
.review_heading h2{
    font-size: 48px;
    font-weight:600;
    color:#30344E;
    font-family:"Poppins", sans-serif;
    line-height:62px;
}
.review_slider{
    height: 400px;
    width:770px;
    background-color: #FFFFFF;
    margin-top: 60px;
}
.review_slider >p{
    font-size:24px;
    font-weight:400;
    font-family:"Inter", sans-serif;
    color:#6C6E81;
    line-height:46px;
    width:650px;
    padding-top: 50px;
    margin:0 auto;
    text-transform: capitalize;
    text-align: justify;
}
.customers_review{
    display:flex;
    align-items: center;
    height:584px;
}
.review_rating_wrap{
    display: flex;
    width:650px;
    margin:50px auto 0;
    align-items: center;
}
.review_rating_img{
    width: 18%;
}
.review_rating_details{
    width: 26%;
}
.review_rating_details h4{
    font-size:24px;
    font-weight:600;
    color:#30344E;
    font-family:"Poppins", sans-serif;
    margin-bottom: 0;
}
.review_rating_details p{
    font-size:16px;
    font-weight:400;
    color:#30344E;
    font-family:"Inter", sans-serif;
    margin-bottom: 0;
    margin-top: 5px;
}
.review_rating_star{
    margin-left:auto;
    width: fit-content;
    display: flex;
    height:85px;
    gap:10px;
    align-items:end;
    color:#FFC34C;
}
/* ===================================
        REVIEW PART CSS END
======================================= */
/* ===================================
        BLOG PART CSS START
======================================= */
#blog{
    padding: 130px 0;
    background-color: #efefef;
}
.blog_heading h3{
    font-size:20px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color: #FD5F36;
    text-transform:uppercase;
    margin: auto;
    width: fit-content;
}
.blog_heading h2{
    font-size:48px;
    font-weight:600;
    font-family:"Poppins", sans-serif;
    color: #30344E;
    text-transform:capitalize;
    margin:8px auto 0;
    width: fit-content;
}
.blog_items{
    margin-top: 60px;
}
.blog_img {
    border-top-left-radius: 10px;
    border-top-right-radius:10px;
    overflow: hidden;
}
.blog_details h3{
    font-size:24px;
    font-weight:600;
    color:#3F3C5C;
    font-family:"Inter", sans-serif;
    line-height:34px;
}
.blog_details p{
    font-size:16px;
    font-weight:400;
    color:#575470;
    font-family:"Inter", sans-serif;
    line-height:32px; 
}
.blog_user{
    display:flex;
    align-items: center;
    margin-top:18px;
}
.blog_user_img{
    width: 20%;
}
.blog_user_name{
    width: 30%;
}
.blog_user_date{
    width: 50%;
}
.blog_user_date{
    margin-left:auto;
    width:fit-content;
}
.blog_user_name p,.blog_user_date p{
    font-size:16px;
    font-weight:400;
    color:#9C9BA9;
    font-family:"Inter", sans-serif;
    margin-bottom:0;
}
.blog_user_date p span{
    margin-right: 15px;
}
/* ===================================
        BLOG PART CSS END
======================================= */
/* ===================================
        FOOTER PART CSS START
======================================= */
#footer{
    padding: 110px 30px;
    background-color:#30344E;
}
.footer_social p{
    font-size:16px;
    font-weight:400;
    color:#fff;
    font-family:"Inter", sans-serif;
    line-height:28px;
    width:260px;
    margin-top:26px;
    margin-bottom: 0;
}
.footer_social_media{
    margin-top: 24px;
}
.footer_social_media a{
    background-color: #fff;
    height:40px;
    width:40px;
    font-size:16px;
    border-radius:50%;
    line-height:40px;
    text-align:center;  
    color:#2B3044;
    margin-right: 8px;
}
.footer_social_media a:last-child{
    margin-right: 0;
}
.footer_items_wrap{
    display:flex;
}
.footer_items h5{
    font-size:18px;
    font-weight:500;
    font-family:"Inter", sans-serif;
    color:#52C5B6;
    margin-bottom:18px;
}
.footer_items {
    width:30%;
}
.footer_items a{
    display: block;
    font-size:16px;
    font-weight:400;
    font-family:"Inter", sans-serif;
    color:#fff;
    margin-bottom: 12px;
}
.footer_items a:last-child{
    margin-bottom:0;
}
.footer_updates h5{
    font-size:18px;
    font-weight:500;
    font-family:"Inter", sans-serif;
    color:#52C5B6;
    margin-bottom:18px;
}
.footer_updates p{
    font-size:16px;
    font-weight:400;
    color:#fff;
    font-family:"Inter", sans-serif; 
    line-height:26px;
    margin-bottom:32px;   
}
.footer_mail{
    height:46px;
    width:270px;
    background-color:#fff;
    border-radius:5px;
    position: relative;
}
.footer_mail input{
    line-height: 46px;
    border-radius: 5px;
    border:none;
    padding-left: 10px;
    width:100%;
    outline: none;
}

.footer_mail button{
    background-color:#FD5F36;
    width: 36px;
    height:36px;
    border-radius:6px; 
    text-align: center;
    line-height: 36px;
    color:#fff;
    position:absolute;
    right: 5px;
    bottom: 5px;
    border: none;
}
.footer_copyrights{
    margin-top: 108px;
}
.footer_copyrights p{
    font-size:14px;
    font-weight:400;
    color:#fff;
    font-family:"Inter", sans-serif; 
    position: relative;
}
.footer_copyrights p::before{
    content:'';
    height:2px;
    width: 1270px;
    background-color: #d2d2d285;
    position: absolute;
    left: 0;
    top: -24px;
}
/* ===================================
        FOOTER PART CSS END
======================================= */

